.foam__page {
}
.foam__container {
    max-width: 800px;
    margin: 0 auto;
}
.foam__title {
    text-align: center;
}
.foam__calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.foam__amount {
    display: flex;
    gap: 1em;
    align-items: center;
    
}
.foam__total{
    font-size: 1.5rem;
    font-weight: 500;
}
.noozle__total {
    font-size: 1.5rem;
    font-weight: 500;
}
.foam__noozle {
    display: flex;
    gap: 1em;
    align-items: center;
}


